*
!/**/
!*.*
!**/test.*
!**/todo.*
!requirements.txt
!license
**/.vs/**
**/.vscode/*.*
**/c_cpp_properties.json
!**/launch.json
!**/settings.json
!*.md
*.db
*.exe
**/todo/**
**/test/**
__pycache__
.pytest_cache
**/cache/container_file/**
!menus/**
bin/**
!bin/src**
!bin/tests**
log/**
